.max-w-1200 {
  max-width: 1000px;
}
@media screen and (max-width: 1920px) {
  .max-w-1200 {
    max-width: 1200px;
  }
}

.w-550 {
  width: 550px;
}
.top-minus-10 {
  top: -10px;
}
.left-minus-5 {
  left: -5px;
}
